<div class="navbar row text-white">
  <div class="col-md-8">
    <div class="row product-section  ms-4">
      <div class="col-md-4 logo"><a href="/">HomeKart</a></div>
      <div class="col-md-3 adminpanel  mt-2">
 <a href="/viewAllProducts/?page=1"> All Products</a></div>
      <div class="col-md-3 adminpanel mt-1">deals</div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row logo">
      <div class="col-md-3 adminlogo"> <a href="/wishlist"><i class="ri-heart-3-line"></i></a></div>
      <div class="col-md-3 adminlogo"> <a href="/cart"><i class="ri-shopping-cart-2-line"></a></i></div>
      <div class="col-md-3 adminlogo"> <a href="/userHome"><i class="ri-user-line"></i></a></div>
      <div class="col-md-3 logout"><a href="/logout"><i class="ri-logout-box-r-line"></i></a></div>
    </div>
  </div>
</div>
<form action="/addAddress" method="post"  class=" product-add container d-flex flex-column w-50"  >
    <H3 class="text-center ">Add Address</H3>
           <input
        type="text"
        value="{{_id}}"
        class="form-control"
        name="id"
        style="height:0px;visibility:hidden;"
      />
    <label for="">name</label>
    <input type="text" name="name" class="namefield">      
    <div class="pro-img-qua d-flex justify-content-around">
         <div class="price">
       <div class="qua"> <label for="">PhoneNo</label>
    <input type="number" name="phone" class="namefield">
    </div>
  </div>
       <div class="email"> <label for="">City</label>
    <input type="text" name="city" class="namefield">
    </div>
 
    </div>
        <div class="pro-img-qua d-flex justify-content-around">
       <div class="email"> <label for="">landMark</label>
    <input type="city" name="landmark" class="namefield">
    </div>
    <div class="price">
       <div class="qua"> <label for="">Pincode</label>
    <input type="landMark" name="pincode" class="namefield">
    </div>
  </div>
    </div>
      <label for="">House Address</label>
    <input type="text" name="Address" class="namefield"> 
  <button type="submit" class="btn btn-success">Adddd</button>
</form>
