<div class="navbar row text-white">
  <div class="col-md-8">
    <div class="row   ms-4">
       <div class="col-md-6 logo"> <a href="/admin"> HomeKart</a> </div>
      <div class="col-md-6 adminpanel mt-1">AdminPanel</div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row logo">
      <div class="col-md-6 adminlogo"><i class="ri-user-line"></i></div>
      <div class="col-md-6 logout"><a href="/admin/logout"><i class="ri-logout-box-r-line"></i></a></div>
    </div>
  </div>
</div>
<form action="/admin/bannerAdd" method="post" enctype="multipart/form-data" class=" product-add container d-flex flex-column w-50"  >
    <H3 class="text-center ">Add Banners</H3>
    <div class="banner">

    <label for="">Banner  name</label>
    <input type="text" name="name" class="namefield">      
    <label for="" class="ms-5">Add Image</label>
  <input type="file" name="banners" class="namefield ms-4"/>
    </div>
  
  <button type="submit" class="btn btn-success">Adddd</button>
</form>
