<div class="navbar row text-white">
  <div class="col-md-8">
    <div class="row   ms-4">
      <div class="col-md-6 logo">HomeKart</div>
      <div class="col-md-6 adminpanel mt-1">AdminPanel</div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row logo">
      <div class="col-md-6 adminlogo"><i class="ri-user-line"></i></div>
      <div class="col-md-6 logout"><a href="/admin/logout"><i class="ri-logout-box-r-line"></i></a></div>
    </div>
  </div>
</div>
<div class="admin-section">
    <div class="sidebar p-4 ps-0 text-center">
   <a href="/admin/" style="color:#51624F">Dashboard</a>
   <a href="/admin/category">Categories</a>
    <a href="/admin/product" style="color:black">Products</a>
    <a href="/admin/user" style="color:black">Users</a>
    <a href="/admin/banner" style="color:black">Banners</a>
    <a href="/admin/orders" style="color:black">Orders</a>
    <a href="/admin/coupons" style="color:black">Coupons</a>
    <a href="/admin/banned" style="color:black">Banned Users</a>
    
    
</div>