<div class="navbar row text-white">
  <div class="col-md-8">
    <div class="row   ms-4">
      <div class="col-md-6 logo"> <a href="/admin"> HomeKart</a> </div>
      <div class="col-md-6 adminpanel mt-1">AdminPanel</div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row logo">
      <div class="col-md-6 adminlogo"><i class="ri-user-line"></i></div>
      <div class="col-md-6 logout"><a href="/admin/logout"><i class="ri-logout-box-r-line"></i></a></div>
    </div>
  </div>
</div>

    <div class="container d-flex flex-column align-items-center justify-content-center h-75 errorPage">
        <div class="errorCard d-flex flex-column align-items-center justify-content-center">
            <img src="https://res.cloudinary.com/dv5bvojzi/image/upload/v1677571535/HomeKart/error_cx8qpn.png" alt="">
        <h1 class="text-danger error" >Page not found</h1>
        <a href="/admin/">Go to home</a>
        </div>
    </div>