<div class="couponSection d-flex align-items-center justify-content-center h-100 w-100">
<form action="/applyCoupon" method="post">
<div class="coupons">
 <h5>Apply coupon</h5>
 <b class="text-danger">{{expired}}</b>
<label for="" class="text-white">Enter your coupon code </label>
<input type="text" name="coupon">
<button type="submit">apply</button>
</div>
</form>
</div>