   <nav>
        <div class="logo">
            <a href=""><h5>HomeKart</h5></a>
            <a href="/viewAllProducts/?page=1"><h5>All Products</h5></a>
        </div>

        <div class="icons">
      <div class="col-md-3 wishlist"> <a href="/wishlist"><i class="ri-heart-3-line"></i></a></div>
      <div class="col-md-3 cart"> <a href="/cart"><i class="ri-shopping-cart-2-line"></a></i></div>
      <div class="col-md-3 adminlogo"> <a href="/userProfile"><i class="ri-user-line"></i></a></div>
      <div class="col-md-3 logout"><a href="/logout"><i class="ri-logout-box-r-line"></i></a></div>
        </div>
    </nav>

    <div class="container d-flex flex-column align-items-center justify-content-center h-75 errorPage">
        <div class="errorCard d-flex flex-column align-items-center justify-content-center">
            <img src="https://res.cloudinary.com/dv5bvojzi/image/upload/v1677571535/HomeKart/error_cx8qpn.png" alt="">
        <h1 class="text-danger error" >Page not found</h1>
        <a href="/">Go to home</a>
        </div>
    </div>