
<div class="otp">
<div class="container category ">
    <form action="/forgetPassword" method="post" class="category-form">
        <h4>Forget password</h4>
      
        <p class="text-primary">Enter Your Email </p>
         <h6 class="text-danger"> {{error}}</h6>
        <div class="d-flex otp-input">
        <input type="text" name="email" id="">
        <button class="btn btn-success add-btn ms-2" type="submit">Enter</button>
        </div>
        </div>
    </form>
   
    </ul>


</div>
</div>