
<div class="otp">
<div class="container category ">
    <form action="/verifyPasswordOtp" method="post" class="category-form">
        <h3>Otp Verification</h3>
          <b class="text-danger">
            {{error}}
        </b>
        <p class="text-primary">please enter the otp that is sent to to your email </p>
        <div class="add">                 
        <input type="text" placeholder="Enter the OTP" name="email" value="{{email}}" style="height:0px; visibility:hidden">
        <input type="text" placeholder="Enter the OTP" name="otp">
        
      
        
        <button class="btn btn-success add-btn" type="submit">Enter</button>
        </div>
    </form>
   
    </ul>


</div>
</div>