<div class="container">
    <h1>Don't refresh redirecting to payment gateway</h1>
</div>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://sdk.cashfree.com/js/ui/2.0.0/cashfree.sandbox.js"></script>

<script>
    window.onload= function(){
        console.log("hai")
      var paymentSessionId = "{{sessionId}}";
      const cashfree = new Cashfree(paymentSessionId);
      console.log(cashfree)
      cashfree.redirect();
}
</script>